<section class="w-[327px] flex flex-col items-center justify-center gap-6 py-4">
  <p class="uppercase font-barlow text-[#D0D6F9] tracking-[2.7px]">
    so, yo want to travel to
  </p>
  <p class="font-bellefair text-white text-[80px] uppercase">space</p>
  <p class="font-barlow text-[#D0D6F9] text-center">
    Let’s face it; if you want to go to space, you might as well genuinely go to
    outer space and not hover kind of on the edge of it. Well sit back, and
    relax because we’ll give you a truly out of this world experience!
  </p>
</section>
