<a
  href="/"
  class="bg-white text-black font-bellefair w-[150px] h-[150px] rounded-full flex justify-center items-center mx-auto text-xl relative"
>
  EXPLORE
</a>

<!-- <style>
  a:hover {
  }

  a::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    z-index: -1;
  }
</style> -->
