---
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<!-- 
#0B0D17 - BLUE
#D0D6F9 - MORADO
#FFFFFF - WHITE

HEADING 1 - 150px
HEADING 2 - 100px
HEADING 3 - 56px
HEADING 4 - 32px
HEADING 5 - 28px CON 4.75 DE ESPACIADO ENTRE LETRAS
SUBHEADING 1 - 28px
SUBHEADING 2 - 14px CON 2.35 DE ESPACIADO
TEXTO DE NAVBAR - 16px con 2.7 de espaciado 
-->
